@import url("reset.css");
/* CODE BEGINS HERE*/
body {
	font: 11pt Arial;
	text-align: center;
	background: #fff url("bg.png") repeat left top;
	cursor: default;
}
h1 {
	font-size: 24pt;
	background-image: -webkit-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -moz-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -moz-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -ms-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -ms-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -o-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -o-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: linear-gradient(left, transparent 25%, #000 50%, transparent 75%), linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-size: 100% 1pt, 100% 1pt, 100%;
	background-position: 0 bottom, 0 1pt, 0 1pt;
	background-repeat: no-repeat;
	margin-bottom: 15pt;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #aaa;
	border-radius: 0 0 0 15pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	position: relative;
}
aside {
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ddd;
	cursor: default;
	height: 100%;
	border-left: 1px solid #000;
	overflow-x: hidden;
	overflow-y: scroll;
}
input, textarea { display: block;}
#name, textarea { width: 800px;}
input[type="file"] { background-color: #fff;}
textarea { height: 200px;}
input[type="file"], #name, textarea, input[type="button"] {
	border: 1px solid #000;
	margin-bottom: 2pt;
}
#imgdisplay {
	border: 1px solid #000;
	cursor: crosshair;
	display: block;
}
#imgdisplaywrapper { margin-bottom: 2pt;}
input, #imgdisplaywrapper, textarea { margin-left: 29px;}
html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#selected { background-color: #f00;}
aside > div:hover { background-color: #00f;}
aside > div:active { background-color: #00a;}
aside > div { border-bottom: 1pt solid #000;}
div.contextmenu {
	position: absolute;
	background-color: #fff;
	border: 1pt solid #333;
	border-radius: 7pt;
}
div.contextmenu li a {
	text-decoration: none;
	color: #222;
	display: block;
	padding: 2pt 5pt;
}
div.contextmenu li { border-bottom: 1pt solid #000;}
div.contextmenu li:last-child { border: none;}
div.contextmenu li:first-child a {
	border-top-left-radius: 6pt;
	border-top-right-radius: 6pt;
}
div.contextmenu li:last-child a {
	border-bottom-left-radius: 6pt;
	border-bottom-right-radius: 6pt;
}
div.contextmenu li a:hover { background-color: #ccc;}
/* SCROLLBAR */
::-webkit-scrollbar {
	width: 16px;
	height: 16px
}
::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
	background: #cdcdcd;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:vertical:hover {
	background-color: #a6a6a6;
}
::-webkit-scrollbar-thumb:active {
	background-color: #606060;
}
::-webkit-scrollbar-button {
	width: 16px;
	height: 16px;
	background: url("Scroll.png") 0 0 no-repeat;
	background-size: 64px 48px;
}
::-webkit-scrollbar-button:hover {
	background-position-y: -16px;
}
::-webkit-scrollbar-button:active {
	background-position-y: -32px;
}
::-webkit-scrollbar-button:vertical:increment {
	background-position-x: -16px;
}
::-webkit-scrollbar-button:horizontal:decrement {
	background-position-x: -32px;
}
::-webkit-scrollbar-button:horizontal:increment {
	background-position-x: -48px;
}
