@import url("reset.css");
/* CODE BEGINS HERE*/
body {
	font-family: Arial;
	text-align: center;
	background: #fff url("bg.png") repeat left top;
	cursor: default;
}
h1 {
	font-size: 24pt;
	background-image: -webkit-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -moz-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -moz-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -ms-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -ms-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: -o-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -o-linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-image: linear-gradient(left, transparent 25%, #000 50%, transparent 75%), linear-gradient(left, transparent 25%, #000 50%, transparent 75%), -webkit-linear-gradient(left, transparent 25%, #fff 50%, transparent 75%);
	background-size: 100% 1pt, 100% 1pt, 100%;
	background-position: 0 bottom, 0 1pt, 0 1pt;
	background-repeat: no-repeat;
	margin-bottom: 15pt;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #aaa;
	border-radius: 0 0 15pt 15pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	position: relative;
}
aside {
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ddd;
	cursor: default;
	height: 100%;
	border-bottom-right-radius: 16pt;
	border-left: 1px solid #000;
	overflow-x: hidden;
	overflow-y: scroll;
}
input, textarea { display: block;}
#name, textarea { width: 800px;}
input[type="file"] { background-color: #fff;}
textarea { height: 200px;}
input[type="file"], #name, canvas, textarea, input[type="button"] {
	border: 1px solid #000;
	margin-bottom: 2pt;
}
canvas {
	cursor: crosshair;
	display: block;
}
input, canvas, textarea { margin-left: 29px;}
html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#selected { background-color: #f00;}
aside > div:hover { background-color: #00f;}
aside > div:active { background-color: #00a;}
aside > div { border-bottom: 1pt solid #000;}
